.btn-outline-info {
    color: #13512a!important;
    background-color: transparent!important;
    border: 2px solid #13512a!important;
}

.btn-outline-info:hover {
    color: #13512a!important;
    background-color: transparent!important;
    border-color: #13512a!important;
}
