

  <!-- Main Layout -->
  <main>

    <div class="container-fluid mb-5">




      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">

            <div class="container">

              <form #cadastroForm="ngForm" (ngSubmit)="onSubmit()">

                <!-- Section: Contact v.3 -->
                <section class="contact-section my-5">

                  <div class="row" *ngIf="erro">

                    <div class="col-md-12">
                      <div class="alert alert-danger" role="alert">
                        {{menssagemErro}}
                      </div>
                    </div>

                  </div>

                  <!-- Form with header -->
                  <div class="card">

                    <!-- Grid row -->
                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-12">

                        <div class="card-body form">

                          <!-- Header -->
                          <h3 class="mt-4 text-center">Meu Cadastro</h3>

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6">

                              <div class="md-form mb-0">

                                <input name="cnpj" mask="00.000.000/0000-00" [(ngModel)]="form.cnpj" type="text" id="cnpj" class="form-control" required>

                                <label for="cnpj" class="">CNJP *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6">

                              <div class="md-form mb-0">

                                <input name="email" [(ngModel)]="form.email" type="email" id="email" class="form-control" required>

                                <label for="email" class="">Seu email *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6">

                              <div class="md-form mb-0">

                                <input name="password" type="password" [(ngModel)]="form.password" id="password" class="form-control" required>

                                <label for="password" class="">Senha *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6">

                              <div class="md-form mb-0">

                                <input name="password-confirmar" type="password" [(ngModel)]="form.password_confirmar" id="password-confirmar" class="form-control" required>

                                <label for="password-confirmar" class="">Confirmar Senha *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                        </div>

                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>
                  <!-- Form with header -->

                </section>
                <!-- Section: Contact v.3 -->

                <!-- Section: Contact v.3 -->
                <section class="contact-section my-5">

                  <!-- Form with header -->
                  <div class="card">

                    <!-- Grid row -->
                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-12">

                        <div class="card-body form">

                          <!-- Header -->
                          <h3 class="mt-4 text-center">Dados da Empresa</h3>

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="razao_social" [(ngModel)]="form.razao_social" type="text" id="razao_social" class="form-control" required>

                                <label for="razao_social" class="">Razão Social *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="inscricao_estadual" [(ngModel)]="form.inscricao_estadual" type="text" id="inscricao_estadual" class="form-control" required>

                                <label for="inscricao_estadual" class="">Inscrição Estadual *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="ramo_atividade" [(ngModel)]="form.ramo_atividade" type="text" id="ramo_atividade" class="form-control" required>

                                <label for="ramo_atividade" class="">Ramo de Atividade *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="cep" [(ngModel)]="form.cep" (change)="getEndereco()" type="text" id="cep" class="form-control" required>

                                <label for="cep" class="">CEP *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="estado" [(ngModel)]="form.estado" type="text" id="estado" class="form-control" required>

                                <label for="estado" class="" [ngClass]="{'active': form.estado !== null}">Estado *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="cidade" [(ngModel)]="form.cidade" type="text" id="cidade" class="form-control" required>

                                <label for="cidade" class="" [ngClass]="{'active': form.cidade !== null}">Cidade *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="bairro" [(ngModel)]="form.bairro" type="text" id="bairro" class="form-control" required>

                                <label for="bairro" class="" [ngClass]="{'active': form.bairro !== null}">Bairro *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="endereco" [(ngModel)]="form.endereco" type="text" id="endereco" class="form-control" required>

                                <label for="endereco" class="" [ngClass]="{'active': form.endereco !== null}">Endereço *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="numero" [(ngModel)]="form.numero" type="text" id="numero" class="form-control" required>

                                <label for="numero" class="">Número *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="complemento" [(ngModel)]="form.complemento" type="text" id="complemento" class="form-control">

                                <label for="complemento" class="" [ngClass]="{'active': form.complemento !== null}">Complemento</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="ponto_referencia" [(ngModel)]="form.ponto_referencia" type="text" id="ponto_referencia" class="form-control">

                                <label for="ponto_referencia" class="">Ponto de Referência</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="quantos_funcionario" [(ngModel)]="form.quantos_funcionario" type="text" id="quantos_funcionario" class="form-control">

                                <label for="quantos_funcionario" class="">Quantos Funcionários</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->


                        </div>

                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>
                  <!-- Form with header -->

                </section>
                <!-- Section: Contact v.3 -->

                <!-- Section: Contact v.3 -->
                <section class="contact-section my-5">

                  <!-- Form with header -->
                  <div class="card">

                    <!-- Grid row -->
                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-12">

                        <div class="card-body form">

                          <!-- Header -->
                          <h3 class="mt-4 text-center">Dados do Comprador</h3>

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="nome_completo" [(ngModel)]="form.nome_completo" type="text" id="nome_completo" class="form-control" required>

                                <label for="nome_completo" class="">Nome Completo *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="data_nascimento" [(ngModel)]="form.data_nascimento" type="date" id="data_nascimento" class="form-control" required>

                                <label for="data_nascimento" class="">Data de Nascimento *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <select name="sexo" [(ngModel)]="form.sexo" id="sexo" class="mdb-select md-form" required>
                                  <option value="Feminino">Feminino</option>
                                  <option value="Masculino">Masculino</option>
                                </select>

                                <label for="sexo" class="">Sexo *</label>

                                <!--Blue select-->

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="profissao" [(ngModel)]="form.profissao" type="text" id="profissao" class="form-control" required>

                                <label for="profissao" class="">Profissão *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="telefone_fixo" mask="(00) 0000-0000" [(ngModel)]="form.telefone_fixo" type="text" id="telefone_fixo" class="form-control" required>

                                <label for="telefone_fixo" class="">Telefone Fixo *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="telefone_celular" mask="(00) 00000-0000" [(ngModel)]="form.telefone_celular" type="text" id="telefone_celular" class="form-control" required>

                                <label for="telefone_celular" class="">Telefone Celular *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                        </div>

                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>
                  <!-- Form with header -->

                </section>
                <!-- Section: Contact v.3 -->

                <!-- Section: Contact v.3 -->
                <section class="contact-section my-5">

                  <!-- Form with header -->
                  <div class="card">

                    <!-- Grid row -->
                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-12">

                        <div class="card-body form">

                          <!-- Header -->
                          <h3 class="mt-4 text-center">Dados da Entrega</h3>

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="cep_entrega" [(ngModel)]="form.cep_entrega" (change)="getEnderecoEntrega()"  type="text" id="cep_entrega" class="form-control" required>

                                <label for="cep_entrega" class="">CEP *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="estado_entrega" [(ngModel)]="form.estado_entrega" type="text" id="estado_entrega" class="form-control" required>

                                <label for="estado_entrega" class="" [ngClass]="{'active': form.estado_entrega !== null}">Estado *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="cidade_entrega" [(ngModel)]="form.cidade_entrega" type="text" id="cidade_entrega" class="form-control" required>

                                <label for="cidade_entrega" class="" [ngClass]="{'active': form.cidade_entrega !== null}">Cidade *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="bairro_entrega" [(ngModel)]="form.bairro_entrega" type="text" id="bairro_entrega" class="form-control" required>

                                <label for="bairro_entrega" class="" [ngClass]="{'active': form.bairro_entrega !== null}">Bairro *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="endereco_entrega" [(ngModel)]="form.endereco_entrega" type="text" id="endereco_entrega" class="form-control" required>

                                <label for="endereco_entrega" class="" [ngClass]="{'active': form.endereco_entrega !== null}">Endereço *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="numero_entrega" [(ngModel)]="form.numero_entrega" type="text" id="numero_entrega" class="form-control" required>

                                <label for="numero_entrega" class="">Número *</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="complemento_entrega" [(ngModel)]="form.complemento_entrega" type="text" id="complemento_entrega" class="form-control">

                                <label for="complemento_entrega" class="" [ngClass]="{'active': form.complemento_entrega !== null}">Complemento</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                              <div class="md-form mb-0">

                                <input name="ponto_referencia_entrega" [(ngModel)]="form.ponto_referencia_entrega" type="text" id="ponto_referencia_entrega" class="form-control">

                                <label for="ponto_referencia_entrega" class="">Ponto de Referência</label>

                              </div>

                            </div>
                            <!-- Grid column -->

                          </div>
                          <!-- Grid row -->


                        </div>

                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>
                  <!-- Form with header -->

                </section>
                <!-- Section: Contact v.3 -->

                <!-- Section: Contact v.3 -->
                <section class="contact-section my-5">

                  <!-- Form with header -->
                  <div class="card">

                    <!-- Grid row -->
                    <div class="row">

                      <!-- Grid column -->
                      <div class="col-lg-12">

                        <div class="card-body form">

                          <!-- Header -->
                          <h3 class="mt-4 text-center">Acordo de Fornecimento</h3>

                          <!-- Grid row -->
                          <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12">
                              <h5 class="mt-4 text-center">TERMOS E CONDIÇÕES</h5>
                            </div>

                            <div class="col-md-12">
                              <p>
                                <meta charset="utf-8">
                              </p>
                              <h3 class="text-center" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; font-family: Verdana, Arial, sans-serif; font-weight: 500; line-height: 1.1; color: rgb(102, 102, 102); margin-top: 20px; margin-bottom: 10px; font-size: 18px; text-align: center; background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-weight: 700;"><u>Acordo de Fornecimento – Programa de Relacionamento Cotações Online</u></span></span></h3>
                              <p>
                                <br>
                              </p>
                              <p class="text-justify" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; margin: 0px 0px 10px; text-align: justify; color: rgb(102, 102, 102); font-family: Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box; font-weight: 700;">Formato de Atendimento:</span> Os Pedidos são gerados pelo Cliente no Portal de Cotações Online através de login e senha. Após aprovados, os Pedidos são faturados e entregues no Endereço de Entrega pré-cadastrado pelo Cliente. Os Prazos de entrega variam com o CEP de Destino e são informados no momento do fechamento do Pedido.</p>
                              <p class="text-justify" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; margin: 0px 0px 10px; text-align: justify; color: rgb(102, 102, 102); font-family: Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box; font-weight: 700;">Prazo de Pagamento:</span> Conforme escolha do Cliente na realização do Pedido e critérios do Programa de Relacionamento Cotações Online.</p>
                              <p class="text-justify" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; margin: 0px 0px 10px; text-align: justify; color: rgb(102, 102, 102); font-family: Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">Forma de Pagamento: Conforme escolha do Cliente na realização do Pedido e critérios do Programa de Relacionamento Cotações Online.</p>
                              <p class="text-justify" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; margin: 0px 0px 10px; text-align: justify; color: rgb(102, 102, 102); font-family: Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box; font-weight: 700;">Condição de Faturamento:</span> Conforme escolha do Cliente na realização do Pedido e critérios do Programa de Relacionamento Cotações Online.</p>
                              <p class="text-justify" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; margin: 0px 0px 10px; text-align: justify; color: rgb(102, 102, 102); font-family: Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box; font-weight: 700;">Horário de Recebimento dos Pedidos:</span>
                                <br style="box-sizing: border-box;">• 24 horas (Pedidos que não necessitem de Negociação Online).
                                <br style="box-sizing: border-box;">• Das 08:00h às 18:00h, de 2ª a 6ª feira (Pedidos com Negociação Online).
                              </p>
                              <p class="text-justify" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; margin: 0px 0px 10px; text-align: justify; color: rgb(102, 102, 102); font-family: Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box; font-weight: 700;">Frete dos Pedidos:</span>
                                <br style="box-sizing: border-box;">• Isento para os Pedidos acima de: R$ 400,00
                                <br style="box-sizing: border-box;">• Pedido mínimo para faturamento: R$ 400,00
                                <br style="box-sizing: border-box;">• Pedidos emergenciais que necessitem contratação de frete especial serão cobrados com taxa extra, orçados pontualmente a cada situação, devendo antes serem aprovados pelo Administrador do Contrato.
                              </p>
                              <p class="text-justify" style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; box-sizing: border-box; margin: 0px 0px 10px; text-align: justify; color: rgb(102, 102, 102); font-family: Verdana, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box; font-weight: 700;">Validade da Tabela de Preços:</span>
                                <br style="box-sizing: border-box;">• Conforme critérios do Programa de Relacionamento Cotações Online.
                              </p>
                            </div>

                            <!-- Grid column -->
                            <!-- Material unchecked -->


                          </div>
                          <!-- Grid row -->
                          <div class="row">
                            <div class="col-md-4">
                                <input type="checkbox" (click)="aceitarTermos()" class="form-check-input" id="materialUnchecked" required>
                                <label class="form-check-label" for="materialUnchecked">Eu aceito os Termos e Condições* </label>
                            </div>

                          </div>



                        </div>

                      </div>
                      <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                  </div>
                  <!-- Form with header -->

                </section>
                <!-- Section: Contact v.3 -->
                <!-- Grid row -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center">
                      <a routerLink="/" class="btn btn-outline-info btn-md mb-4 waves-effect waves-light">Cancelar</a>
                      <button class="btn btn-outline-info btn-md mb-4 waves-effect waves-light" type="submit" value="LOGIN" [disabled]="isDisabled(cadastroForm.valid)">Cadastrar</button>
                    </div>
                  </div>

                </div>
              </form>

            </div>

        </div>


        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

  </main>
  <!-- Main Layout -->
