

  <!-- Main Layout -->
  <main>

    <div class="container-fluid mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">

            <div class="container">

              <!-- Section: Contact v.3 -->
              <section class="contact-section my-5">

                <!-- Form with header -->
                <div class="card">

                  <!-- Grid row -->
                  <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-8">

                      <div class="card-body form">

                        <!-- Header -->
                        <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Fale Conosco:</h3>

                        <!-- Grid row -->
                        <div class="row">

                          <!-- Grid column -->
                          <div class="col-md-6">

                            <div class="md-form mb-0">

                              <input type="text" id="form-contact-name" class="form-control">

                              <label for="form-contact-name" class="">Seu nome</label>

                            </div>

                          </div>
                          <!-- Grid column -->

                          <!-- Grid column -->
                          <div class="col-md-6">

                            <div class="md-form mb-0">

                              <input type="text" id="form-contact-email" class="form-control">

                              <label for="form-contact-email" class="">Seu email</label>

                            </div>

                          </div>
                          <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row">

                          <!-- Grid column -->
                          <div class="col-md-6">

                            <div class="md-form mb-0">

                              <input type="text" id="form-contact-phone" class="form-control">

                              <label for="form-contact-phone" class="">Seu telefone</label>

                            </div>

                          </div>
                          <!-- Grid column -->

                          <!-- Grid column -->
                          <div class="col-md-6">

                            <div class="md-form mb-0">

                              <input type="text" id="form-contact-company" class="form-control">

                              <label for="form-contact-company" class="">Assunto</label>

                            </div>

                          </div>
                          <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="row">

                          <!-- Grid column -->
                          <div class="col-md-12">

                            <div class="md-form mb-0">

                              <textarea type="text" id="form-contact-message" class="form-control md-textarea"
                                rows="3"></textarea>

                              <label for="form-contact-message">Sua mensagem</label>

                              <a class="btn-floating btn-lg blue">

                                <i class="far fa-paper-plane"></i>

                              </a>

                            </div>

                          </div>
                          <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                      </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4">

                      <div class="card-body contact text-center h-100 white-text">

                        <h3 class="my-4 pb-2">Informações de Contato</h3>

                        <ul class="text-lg-left list-unstyled ml-4">

                          <li>

                            <p><i class="fas fa-map-marker-alt pr-2 mb-4"></i>Matriz Av.02, Qd 55, Nº02 Areinha,<br>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; São Luís - MA</p>

                          </li>

                          <li>

                            <p><i class="fas fa-phone pr-2 mb-4"></i>(98) 3131-7777</p>

                          </li>

                          <li>

                            <p><i class="fas fa-envelope pr-2"></i>vendas@triunfopapeis.com.br</p>

                          </li>

                        </ul>

                        <hr class="hr-light my-4">

                      </div>

                    </div>
                    <!-- Grid column -->

                  </div>
                  <!-- Grid row -->

                </div>
                <!-- Form with header -->

              </section>
              <!-- Section: Contact v.3 -->

            </div>

        </div>


        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

  </main>
  <!-- Main Layout -->
