<!-- Main Container -->
<div class="container mt-5 pt-3">

  <!-- Section: Product detail -->
  <section id="productDetails" class="pb-5">

    <!-- News card -->
    <div class="card mt-5 hoverable">

      <div class="row mt-5">

        <div class="col-lg-6">

          <!-- Carousel Wrapper -->
          <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

            <!-- Slides -->
            <div class="carousel-inner text-center text-md-left" role="listbox">

              <div *ngIf="produtosLista.foto_1 != 0" class="carousel-item active">

                <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produtosLista.foto_1}}" alt="First slide"
                  class="img-fluid">

              </div>

              <div *ngIf="produtosLista.foto_2 != 0" class="carousel-item">

                <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produtosLista.foto_2}}" alt="Second slide"
                  class="img-fluid">

              </div>

              <div *ngIf="produtosLista.foto_3 != 0" class="carousel-item">

                <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produtosLista.foto_3}}" alt="Third slide"
                  class="img-fluid">

              </div>

              <div *ngIf="produtosLista.foto_4 != 0" class="carousel-item">

                <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produtosLista.foto_4}}" alt="Third slide"
                  class="img-fluid">

              </div>

              <div *ngIf="produtosLista.foto_5 != 0" class="carousel-item">

                <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produtosLista.foto_5}}" alt="Third slide"
                  class="img-fluid">

              </div>

              <div *ngIf="produtosLista.foto_6 != 0" class="carousel-item">

                <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produtosLista.foto_6}}" alt="Third slide"
                  class="img-fluid">

              </div>

            </div>
            <!-- Slides -->

            <!-- Thumbnails -->
            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">

              <span class="carousel-control-prev-icon" aria-hidden="true"></span>

              <span class="sr-only">Previous</span>

            </a>

            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">

              <span class="carousel-control-next-icon" aria-hidden="true"></span>

              <span class="sr-only">Next</span>

            </a>
            <!-- Thumbnails -->

          </div>
          <!-- Carousel Wrapper -->

        </div>

        <div class="col-lg-5 mr-3 text-center text-md-left">

          <h2
            class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">

            <strong>{{produtosLista.nome}}</strong>

          </h2>

          <h5 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
              Código do Produto: {{produtosLista.codigo_produto}}
          </h5>

          <h5 class="h3-responsive text-center text-md-left ml-xl-0 ml-4">
              Categoria: {{produtosLista.categoria}}
          </h5>

          <h5 class="h3-responsive text-center text-md-left  ml-xl-0 ml-4">
              Subcategoria: {{produtosLista.subcategoria}}
          </h5>

          <!-- Accordion wrapper -->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">

                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">

                  <h5 class="mb-0">

                    Descrição

                    <i class="fas fa-angle-down rotate-icon"></i>

                  </h5>

                </a>

              </div>

              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">

                <div class="card-body">

                  {{produtosLista.descricao}}

                </div>

              </div>

            </div>
            <!-- Accordion card -->

          </div>
          <!-- Accordion wrapper -->

          <!-- Add to Cart -->
          <section class="color">

            <div class="mt-5">

              <div class="row mt-3 mb-4">

                <div class="col-md-12 text-center text-md-left text-md-right">

                  <button class="btn btn-primary btn-rounded">

                    <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Adicionar ao carrinho</button>

                </div>

              </div>

            </div>

          </section>
          <!-- Add to Cart -->

        </div>

      </div>

    </div>

  </section>

</div>
<!-- Main Container -->
