

  <!-- Main Layout -->
  <main>

    <div class="container-fluid mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">

            <div class="container">

              <!-- Section: Contact v.3 -->
              <section class="contact-section my-5">

                <!-- Form with header -->
                <div class="">

                  <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

                      <!-- Form with header -->
                      <div class="card wow fadeIn" data-wow-delay="0.3s">
                        <div class="card-body">

                          <!-- Header -->
                          <div class="form-header green-gradient">
                            <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-user"></i> Entrar</h3>
                          </div>

                          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="md-form">
                              <i class="fas fa-envelope prefix white-text"></i>
                              <input type="text" id="orangeForm-email" name="email" class="form-control" [(ngModel)]="form.email" required>
                              <label for="orangeForm-email">Seu email</label>
                            </div>

                            <div class="md-form">
                              <i class="fas fa-lock prefix white-text"></i>
                              <input type="password" id="orangeForm-pass" name="password" class="form-control" [(ngModel)]="form.password" required>
                              <label for="orangeForm-pass">Sua Senha</label>
                            </div>

                            <div class="text-center">
                              <button class="btn green-gradient btn-lg" [disabled]="!loginForm.valid">Entrar</button>
                            </div>

                          </form>
                        </div>
                      </div>
                      <!-- Form with header -->

                    </div>
                  </div>

                </div>
                <!-- Form with header -->

              </section>
              <!-- Section: Contact v.3 -->

            </div>

        </div>


        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

  </main>
  <!-- Main Layout -->
