<body class="homepage-v1 hidden-sn white-skin animated">

  <!-- Navigation -->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">

      <div class="container">

        <a class="navbar-brand font-weight-bold" href="#">

          <strong>Triunfo</strong>

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">

              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" routerLink="/contato">

                <i class="fas fa-envelope blue-text"></i> Contato

                <span class="sr-only">(current)</span>

              </a>

            </li>

            <li *ngIf="!isLoggedIn" class="nav-item">

              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" routerLink="/cadastrar">

                <i class="fas fa-user blue-text"></i> Cadastrar

                <span class="sr-only">(current)</span>

              </a>

            </li>

            <li *ngIf="!isLoggedIn"  class="nav-item">

              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" routerLink="/entrar">

                <i class="fas fa-user blue-text"></i> Entrar

                <span class="sr-only">(current)</span>

              </a>

            </li>


            <li *ngIf="isLoggedIn" class="nav-item dropdown ml-3">

              <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold"
                id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <i class="fas fa-user blue-text"></i> {{userLoggedIn.razao_social}} </a>

              <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">

                <a class="dropdown-item waves-effect waves-light" href="#">Minha Conta</a>

                <a class="dropdown-item waves-effect waves-light" href="#" (click)="sair($event)">Sair</a>

              </div>

            </li>

          </ul>

        </div>

      </div>

    </nav>
    <!-- Navbar -->

  </header>
  <!-- Navigation -->

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="page-footer text-center text-md-left stylish-color-dark pt-0" style="background-color: #26671b!important;">

    <div style="background-color: #06522a;">

      <div class="container">

        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">

            <h6 class="mb-0 white-text">Nos acompanhe nas redes sociais!</h6>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic ml-0 px-2" href="https://www.facebook.com/triunfopapeis/" target="_blank">

              <i class="fab fa-facebook-f white-text"> </i>

            </a>

            <!-- Linkedin -->
            <a class="li-ic px-2" href="https://www.linkedin.com/company/triunfo-papeis/" target="_blank">

              <i class="fab fa-linkedin-in white-text"> </i>

            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>

    </div>

    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">

      <div class="row mt-3">

        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <a href="http://www.triunfopapeis.com.br/" target="_blank"><strong>Triunfo Papéis</strong></a>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong><i class="fas fa-home mr-3"></i>Matriz</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <a href="#!">Av. 02, Qd 55, Nº02</a>

          </p>

          <p>

            <a href="#!">Areinha</a>

          </p>

          <p>

            <a href="#!">65032-630</a>

          </p>

          <p>

            <a href="#!">São Luís - MA</a>

          </p>

        </div>
        <!-- Second column -->

        <!-- Third column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold">

            <strong><i class="fas fa-home mr-3"></i>FILIAL IMPERATRIZ</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <a href="#!">Rua Luís Domingues, 223</a>

          </p>

          <p>

            <a href="#!">Entroncamento</a>

          </p>

          <p>

            <a href="#!">65913-000</a>

          </p>

          <p>

            <a href="#!">Imperatriz - MA</a>

          </p>

        </div>
        <!-- Third column -->

        <!-- Fourth column -->
        <div class="col-md-4 col-lg-3 col-xl-3">

          <h6 class="text-uppercase font-weight-bold">

            <strong>Contato</strong>

          </h6>

          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

          <p>

            <i class="fas fa-envelope mr-3"></i> vendas@triunfopapeis.com.br</p>

          <p>

            <i class="fas fa-phone mr-3"></i> (98) 3131-7777</p>

          <p>

            <i class="fas fa-phone mr-3"></i> (99) 3014-0500</p>

        </div>
        <!-- Fourth column -->

      </div>

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">

      <div class="container-fluid">

        © 2020 Copyright: <a href="http://eixopositivo.com.br/" target="_blank"> Eixo Positivo </a>

      </div>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <!-- SCRIPTS -->


</body>
