<!-- Intro -->
<section>

  <!-- Carousel Wrapper -->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">

      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>

      <li data-target="#carousel-example-1z" data-slide-to="1"></li>

      <li data-target="#carousel-example-1z" data-slide-to="2"></li>

    </ol>
    <!-- Indicators -->

    <!-- Slides -->
    <div class="carousel-inner" role="listbox">

      <!-- First slide -->
      <div class="carousel-item active">

        <div class="view h-100">

          <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce4.jpg"
            alt="First slide">

          <div class="mask">

            <!-- Caption -->
            <div class="full-bg-img flex-center white-text">

              <ul class="animated fadeIn col-10 list-unstyled">

                <li>

                  <p class="h1 red-text mb-4 mt-5">

                    <strong>Sale off 30% on every saturday!</strong>

                  </p>

                </li>

                <li>

                  <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5">Tempora incidunt ut labore et dolore

                    veritatis et quasi architecto beatae</h5>

                </li>

                <li>

                  <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                    class="btn btn-danger btn-rounded" rel="nofollow">See more!</a>

                </li>

              </ul>

            </div>
            <!-- Caption -->

          </div>

        </div>

      </div>
      <!-- First slide -->

      <!-- Second slide -->
      <div class="carousel-item h-100">

        <div class="view h-100">

          <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce2.jpg"
            alt="Second slide">

          <div class="mask">

            <!-- Caption -->
            <div class="full-bg-img flex-center white-text">

              <ul class="animated fadeIn col-10 list-unstyled">

                <li>

                  <p class="h1 dark-grey-text mb-4">

                    <strong>Nemo enim ipsam voluptatem quia voluptas</strong>

                  </p>

                </li>

                <li>

                  <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5">Tempora incidunt ut labore et dolore

                    veritatis et quasi architecto beatae</h5>

                </li>

                <li>

                  <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/"
                    class="btn btn-primary btn-rounded" rel="nofollow">Read more</a>

                </li>

              </ul>

            </div>
            <!-- Caption -->

          </div>

        </div>

      </div>
      <!-- Second slide -->

      <!-- Third slide -->
      <div class="carousel-item">

        <div class="view h-100">

          <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce3.jpg"
            alt="Third slide">

          <div class="mask">

            <!-- Caption -->
            <div class="full-bg-img flex-center white-text">

              <ul class="animated fadeIn col-md-10 text-center text-md-right list-unstyled">

                <li>

                  <p class="h1 blue-text mb-4 mt-5 pr-lg-5">

                    <strong>Sale off 20% on every headphones!</strong>

                  </p>

                </li>

                <li>

                  <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5 pr-lg-5">Tempora incidunt ut labore et

                    dolore veritatis et quasi</h5>

                </li>

              </ul>

            </div>
            <!-- Caption -->

          </div>

        </div>

      </div>
      <!-- Third slide -->

    </div>
    <!-- Slides -->

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">

      <span class="carousel-control-prev-icon" aria-hidden="true"></span>

      <span class="sr-only">Previous</span>

    </a>

    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">

      <span class="carousel-control-next-icon" aria-hidden="true"></span>

      <span class="sr-only">Next</span>

    </a>
    <!-- Controls -->

  </div>

  <!-- Carousel Wrapper -->
  <div class="container-fluid mx-0 px-0">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color mb-5">

      <div class="container">

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown mega-dropdown active">

              <a class="nav-link dropdown-toggle  no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Categorias</a>

              <div class="dropdown-menu mega-menu v-2 row z-depth-1 white" aria-labelledby="navbarDropdownMenuLink1">

                <div class="row mx-md-4 mx-1">
                  <ng-container *ngFor="let lista of categoriasLista">
                    <div class="col-md-6 col-xl-3 sub-menu my-xl-5 mt-5 mb-4">

                      <ul class="caret-style pl-0">
                        <div  *ngFor="let categoria of lista" >
                          <li class="">

                            <a class="menu-item waves-effect waves-light" [routerLink]="['/categoria', categoria.id]">{{categoria.nome}}</a>

                          </li>
                        </div>


                      </ul>

                    </div>
                  </ng-container>

                </div>

              </div>

            </li>


          </ul>

        </div>
        <!-- Collapsible content -->

      </div>

    </nav>
    <!-- Navbar -->

  </div>

</section>
<!-- Intro -->

<!-- Main Container -->
<div class="container">

  <!-- Grid row -->
  <div class="row pt-4">

    <!-- Content -->
    <div class="col-lg-12">

      <!-- Section: Advertising -->
      <section>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Image -->
            <div class="view  z-depth-1">

              <img src="https://mdbootstrap.com/img/Photos/Others/ecommerce5.jpg" class="img-fluid"
                alt="sample image">

              <div class="mask rgba-stylish-slight">

                <div class="dark-grey-text text-right pt-lg-5 pt-md-1 mr-5 pr-md-4 pr-0">

                  <div>

                    <a>

                      <span class="badge badge-primary">SALE</span>

                    </a>

                    <h2 class="card-title font-weight-bold pt-md-3 pt-1">

                      <strong>Sale from 20% to 50% on every tablet!

                      </strong>

                    </h2>

                    <p class="pb-lg-3 pb-md-1 clearfix d-none d-md-block">Lorem ipsum dolor sit amet, consectetur

                      adipisicing elit. </p>

                    <a class="btn mr-0 btn-primary btn-rounded clearfix d-none d-md-inline-block">Read more</a>

                  </div>

                </div>

              </div>

            </div>
            <!-- Image -->

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Advertising -->

      <!-- Section: product list -->
      <section class="mb-5">

        <div class="row">

          <!-- Random Products -->
          <div *ngFor="let produto of produtosLista" class="col-lg-4 col-md-12">

            <!-- First row -->
            <div class="row mt-5 hoverable align-items-center">

              <div class="col-6">

                <a [routerLink]="['/produto', produto.id]">

                  <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produto.foto_1}}"
                    class="img-fluid">

                </a>

              </div>

              <div class="col-6">

                <!-- Title -->
                <a [routerLink]="['/produto', produto.id]">

                  <strong>{{produto.nome}}</strong>

                </a>



                <!-- Price -->
                <h6 class="h6-responsive font-weight-bold dark-grey-text">

                  <strong>{{produto.codigo_produto}}</strong>

                </h6>

              </div>

            </div>
            <!-- First row -->

          </div>
          <!-- Random Products -->


        </div>

      </section>
      <!-- Section: product list -->

      <!-- Section: Last items -->
      <section>

        <h4 class="font-weight-bold mt-4 dark-grey-text">

          <strong>NOVIDADES</strong>

        </h4>

        <hr class="mb-5">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div *ngFor="let produto of produtosRecentesLista" class="col-lg-3 col-md-6 mb-4">

            <!-- Card -->
            <div class="card card-ecommerce">

              <!-- Card image -->
              <div class="view overlay">

                <img src="http://triunfo.eixoposi.iuri0219.hospedagemdesites.ws/{{produto.foto_1}}" class="img-fluid"
                  alt="sample image">

                <a [routerLink]="['/produto', produto.id]">

                  <div class="mask rgba-white-slight"></div>

                </a>

              </div>
              <!-- Card image -->

              <!-- Card content -->
              <div class="card-body">

                <!-- Category & Title -->
                <h5 class="card-title mb-1">

                  <strong>

                    <a [routerLink]="['/produto', produto.id]" class="dark-grey-text">{{produto.nome}}</a>

                  </strong>

                </h5>


                <!-- Card footer -->
                <div class="card-footer pb-0">

                  <div class="row mb-0">

                    <span class="float-left">

                      <strong>{{produto.codigo_produto}}</strong>

                    </span>



                  </div>

                </div>

              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->



        </div>
        <!-- Grid row -->

        <!-- Grid row -->

        <!-- Grid row -->

      </section>
      <!-- Section: Last items -->

    </div>
    <!-- Content -->

  </div>
  <!-- Grid row -->

</div>
<!-- Main Container -->
